body
{
	margin: 0;
	padding: 0;
}

section
{
	padding:0 100px;
	max-height: 600px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.header
{
	background-color: #bba28c

}
h2
{
	font-family: FreeMono, monospace;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 70px;
}

select
{
	background: rgba(255,255,255,.2);

}
option
{
	background: rgba(255,255,255,.2);
}

h3
{
	backdrop-filter: blur(10px);

}

