<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget tracker 1.0</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="static/stylesheet/style.css">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/style.css') }}">-->

</head>

<body>
	<!-- As a heading -->
	<h2>What's your budget</h2>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <section>
			 <form action="/addexpenditure" autocomplete="on" method = "POST" enctype="multipart/form-data">
				 <table>
					 <tr>
						 <td>
							<h5 >Main Category</h5>
								<select name="main_category" id= "main_category" data-target="secondList" class="firstList selectFilter" required="required">
													<option value="-1">Select Category</option>
								</select>
						 </td>
						 <td>
						<h5>Sub Category</h5>
							<select name="sub_category" id="sub_category" class="secondList selectFilter" required="required">
												<option value="-1">Select Category</option>
							</select>
							 </td>
						 <td>
						<h5>Amount</h5>
						<input type="number" name="amount" id="amount" min= "0" max="10000" required="required">
						 </td>
				 	</tr>
				 </table>
					<br>
            		<!-- Submit -->
                    <button type="submit" style="background: grey; height: 35px; width: 150px; color: white; size: 5; font:oblique;">Add Expenditure</button>
			</form>
    </section>
</body>
<script>
    $(document).ready(function () {

    let arrData = [];

  	// Fill the first dropdown with data.
    $.getJSON('../../static/stylesheet/category.json', function (data) {


        let arr_category = [];

        $.each(data, function (index, value) {
            arr_category.push(value.Type);
            arrData = data;
        });

        // Remove duplicates.
        arr_category = Array.from(new Set (arr_category));

        // ref (https://www.encodedna.com/javascript/remove-duplicates-in-javascript-array-using-es6-set-and-from.htm)

        $.each(arr_category, function (index, value) {
            // Fill the first dropdown.
            $('#main_category').append('<option value="' + value + '">' + value + '</option>');
        });

    });

    $('#main_category').change(function () {
        let type = this.options[this.selectedIndex].value;

        let filterData = arrData.filter(function(value) {
            return value.Type === type;
        });

        $('#sub_category')
            .empty()
            .append('<option value=""> -- Select -- </option>');

        $.each(filterData, function (index, value) {
            // Now, fill the second dropdown list with category names.
            $('#sub_category').append('<option value="' + value.ID + '">' + value.Name + '</option>');
        });

    });
  });
</script>
</html>